In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

# Робастный F-тест

# 3.1 output equation

In [55]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [35]:
model = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+I(np.log(capital)**2)+I(np.log(labour)**2)').fit(cov_type='HC3')

In [36]:
model.summary().tables[1]

In [9]:
model.resid

0      0.094046
1     -0.187225
2      0.016362
3     -0.416276
4      0.067439
         ...
564   -0.265799
565   -0.456608
566    0.088908
567    1.048807
568   -0.135462
Length: 569, dtype: float64

In [88]:
robust.t.test <- coeftest(regr, vcov = vcovHC)
robust.t.test

NameError: name 'robust' is not defined

In [10]:
resSq = sum(model.resid**2)

In [11]:
sum_resid = 0
for i in range(1,len(model.resid)-1):
    sum_resid+=(model.resid[i+1]-model.resid[i])**2

In [29]:
sum_resid/resSq

1.9247139113134786

# 3.2 cost equation

In [59]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
df

        cost        q        pl      sl      pk      sk      pf      sf
0     0.2130      8.0   6869.47  0.3291  64.945  0.4197  18.000  0.2512
1     3.0427    869.0   8372.96  0.1030  68.227  0.2913  21.067  0.6057
2     9.4059   1412.0   7960.90  0.0891  40.692  0.1567  41.530  0.7542
3     0.7606     65.0   8971.89  0.2802  41.243  0.1282  28.539  0.5916
4     2.2587    295.0   8218.40  0.1772  71.940  0.1623  39.200  0.6606
..       ...      ...       ...     ...     ...     ...     ...     ...
153   6.8293    946.6  10642.16  0.0883  43.600  0.1914  51.463  0.7203
154   3.7605    377.0   7432.24  0.2117  74.120  0.2274  33.436  0.5609
155   3.9822    391.0   5826.04  0.1926  78.288  0.0924  44.633  0.7151
156  30.1880   5317.0   9586.63  0.0845  78.008  0.2009  41.840  0.7147
157  67.8562  15220.0   6986.09  0.1451  74.025  0.2596  25.662  0.5945

[158 rows x 8 columns]

In [60]:
model = smf.ols(data=df, formula='np.log(cost)~np.log(q)+I(np.log(q)**2)+np.log(pl)+np.log(pk)+np.log(pf)').fit(cov_type='HC3')

In [61]:
model.summary().tables[1]

In [43]:
model.resid

0      0.297328
1     -0.339409
2      0.010243
3      0.043852
4     -0.223205
         ...
153   -0.177107
154    0.219867
155    0.078453
156   -0.131384
157    0.060984
Length: 158, dtype: float64

In [44]:
resSq = sum(model.resid**2)

In [45]:
sum_resid = 0
for i in range(1,len(model.resid)-1):
    sum_resid+=(model.resid[i+1]-model.resid[i])**2

In [46]:
sum_resid/resSq

1.6584579342833776

# Серийная корреляция

# 1 DW-тест

# 1.1 Icecream consumption

In [66]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/icecream.csv')
df

    obs   cons  price  income  temp  week
0     1  0.386  0.270      78    41     1
1     2  0.374  0.282      79    56     2
2     3  0.393  0.277      81    63     3
3     4  0.425  0.280      80    68     4
4     5  0.406  0.272      76    69     5
5     6  0.344  0.262      78    65     6
6     7  0.327  0.275      82    61     7
7     8  0.288  0.267      79    47     8
8     9  0.269  0.265      76    32     9
9    10  0.256  0.277      79    24    10
10   11  0.286  0.282      82    28    11
11   12  0.298  0.270      85    26    12
12   13  0.329  0.272      86    32    13
13   14  0.318  0.287      83    40    14
14   15  0.381  0.277      84    55    15
15   16  0.381  0.287      82    63    16
16   17  0.470  0.280      80    72    17
17   18  0.443  0.277      78    72    18
18   19  0.386  0.277      84    67    19
19   20  0.342  0.277      86    60    20
20   21  0.319  0.292      85    44    21
21   22  0.307  0.287      87    40    22
22   23  0.284  0.277      94    32    23
23   24  0.326  0.285      92    27    24
24   25  0.309  0.282      95    28    25
25   26  0.359  0.265      96    33    26
26   27  0.376  0.265      94    41    27
27   28  0.416  0.265      96    52    28
28   29  0.437  0.268      91    64    29
29   30  0.548  0.260      90    71    30

In [67]:
model = smf.ols(data=df, formula='cons~income+price+temp').fit()
model.params.round(2)

Intercept    0.20
income       0.00
price       -1.04
temp         0.00
dtype: float64

In [68]:
resSq = sum(model.resid**2)

In [69]:
sum_resid = 0
for i in range(len(model.resid)-1):
    sum_resid+=(model.resid[i+1]-model.resid[i])**2

In [70]:
sum_resid/resSq

1.0211693122833825

# 1.2 Consumption equation

In [72]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Consumption.csv')
df

     Unnamed: 0        yd      ce
0             1   59505.0   57168
1             2   59717.4   55464
2             3   59039.1   56332
3             4   61342.6   55836
4             5   60544.6   54488
..          ...       ...     ...
195         196  390576.6  359372
196         197  391381.5  363896
197         198  389502.6  364428
198         199  388282.1  366224
199         200  388804.1  371236

[200 rows x 3 columns]

In [74]:
model = smf.ols(data=df, formula='np.log(yd)~np.log(ce)').fit()
model.params.round(2)

Intercept    -0.39
np.log(ce)    1.04
dtype: float64

In [75]:
resSq = sum(model.resid**2)

In [76]:
sum_resid = 0
for i in range(len(model.resid)-1):
    sum_resid+=(model.resid[i+1]-model.resid[i])**2

In [77]:
sum_resid/resSq

0.1871700336977041